modLoader="javafml"
loaderVersion="[47,)"
license="All Rights Reserved"

[[mods]]
modId="hardhorror"
version="1.0.0"
displayName="Hard Horror Mod"
authors="HardHorror Team"
description='''
Psychological horror mod prototype.
'''
